{% extends "base.html.twig" %}

{% block title %}PHP Symfony Forum{% endblock %}

{% block body %}

<div class="d-flex align-items-center flex-column justify-content-center h-100">

    <div class="card" style="width: 25rem;">
        <div class="card-body">

        <h1 class="card-title">Login page</h1>

        {% if error %}
            <span class="error">{{ error.messageKey }}</span>
        {% endif %}
        

        <form action="{{ path('login')}}" method="POST">
            <input type="text" name="_username" value={{ last_username }}>
            <input type="password" name="_password">
            <button type="submit"> Login </button>
        </form>

        <a class="card-link" href="{{path('user_registration')}}">Register user</a>
        </div>
    </div>
     

    
</div>

{% endblock %}