{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Results for {{ search_value }}
</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Show Topic</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.message }}</td>
                <td><a href="{{ path('topic_section', {'id': post.topic.id}) }}">Show Topic</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
